.report-banner {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

/*.table-container {
    position: relative;
    max-height: 75vh;
    width: 100%;
    overflow-y: auto;
}

.table-content {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    max-width: 100%;
}

@media (max-width: 768px) {
    table-content {
        display: block;
        overflow-x: auto;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
}

.table-content thead tr {
    background-color: rgba(18,76,129,255);
    color: white;
    text-align: left;
    font-weight: bold;
}

.table-content th,
.table-content td {
    padding: 12px 15px;
}

.table-content tbody tr {
    border-bottom: 1px solid rgba(18,76,129,255);
}

    .table-content tbody tr:last-of-type {
        border-bottom: 2px solid rgba(18,76,129,255);
    }

.fixed-column {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: white;
}

.table-wrapper {
    overflow-x: auto;
}

    .table-wrapper tbody {
        overflow: hidden;
    }

.subTableRow {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

    .subTableRow.show {
        opacity: 1;
    }

td {
    padding: 10px
}

.small-icon {
    width: 1rem !important;
    height: 1rem !important;
}

.hide {
    display: none;
}*/
/*#div1 {
    height: 100%;*/
    /*overflow-y: scroll;*/
/*}

#div2 {
    height: 100%;
    background-color: #f2f2f2;
    overflow-y: hidden;
}*/

.label-start {
    display: flex;
    align-items: center;
}