<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesReport</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/SalesReport.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reportStyleSheet.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: rgba(18,76,129,255)">
            <div class="container-fluid">
                <img src="~/img/Duotone_light (4).jpeg" alt="Table Image" class="table-image">
                <div class="mb-3">
                    <label class="form-label text-white">Top Sales Person: </label>
                    <ul style="display: inline-block; list-style-type: none; margin: 0; padding:0;">
                        <li style="display: inline-block; color: lawngreen; font-weight: bold; margin-right: 10px;">&#x2022;</li>
                        <li style="display: inline-block;"><label class="label-person text-white" id="salesperson-name"></label></li>
                        <li style="display: inline-block; color: lawngreen; font-weight: bold; margin-right: 10px;">&#x2022;</li>
                        <li style="display: inline-block;"><label class="label-total text-white" id="salesperson-sales"></label></li>
                        <li style="display: inline-block; color: lawngreen; font-weight: bold; margin-right: 10px;">&#x2022;</li>
                        <li style="display: inline-block;"><label class="label-quantities text-white" id="salesperson-quantity"></label></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-between">
                    <span class="label-start" id="myLabel"></span>
                    <a href="https://github.com/GenDelport/SalesReport.git" class="btn btn-primary btn-sm" style="height:30px">Download Project</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/salesReport.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
