@model List<SalesReport.Models.ViewModels.SalesReportViewModel>
@{
    ViewData["Title"] = "Sales Report";
}
<div class="text-center">
    <img src="~/img/Duotone_light (4).jpeg" alt="Table Image" class="table-image">
    <div class="table-container">
        <table class="table-content table table-hover" id="myTable">
            <thead>
                <tr>
                    <th class="fixed-column">Sales Person</th>
                    @for (int i = 1; i <= DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month); i++)
                    {
                        <th>@i.ToString()</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.SalesPersonID">
                        <td>@item.FullName</td>
                        @foreach (var amount in item.Amounts)
                        {
                            <td>@amount.ToString("C")</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        @*<div id="drilldown"></div>*@
    </div>
</div>